<!DOCTYPE html>
<html>
  <head>
    <title>InfluencerApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>



    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <% if user_signed_in? %>
        <strong><%= link_to current_user.name, current_user%></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
      <br>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </div>

    <span class='hamburger-menu' onclick="openNav()">&#9776;</span>


    <%= yield %>

    <%= js add_gritter(flash[:notice],
      :title => "",
      :image => "https://cldup.com/u6hMwj6oJN.png",
      :notice => "https://cldup.com/u6hMwj6oJN.png",
      :success => "https://cldup.com/wq7pWLAvy3.png",
      :warning => "https://cldup.com/Hw1U7ucxVC.png",
      :error => "https://cldup.com/8UBuTewqye.png",
      :progress => 'https://cldup.com/u6hMwj6oJN.png',
      sticky: false
    ) %>

  </body>
</html>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>
